/* ----- Custom Scrollbar CSS ----- */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #3a3944;
}

::-webkit-scrollbar-thumb {
    background-color: #555363;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #69667a;
}