:root {
    --footer-text-color: #667080;
    --footer-text-color-hover: #a4b0be;
}

footer {
    margin: 10px;
    color: var(--footer-text-color);
    display: flex;
}

footer>.card>a {
    text-decoration: none;
    color: var(--footer-text-color);
    transition: .5s ease-in-out;
}

footer>.card>a:hover {
    color: var(--footer-text-color-hover);
}

footer>.card>a>i {
    margin-right: 5px;
}

footer>.card>.git-link {
    display: flex;
}